
h3 {    
  color: black;    
}
a.disabled {
  pointer-events: none;
  cursor: default;
}
.header {
  display: flex;
  justify-content: left;
  align-items: center;
  color: #eaea6b;
}
td:first-child {  
  font-weight: bold; 
}

table {
  width: 30%;
  /* border: solid black; */
}
.content {
    display: flex;
    flex-flow: column;

    border: solid green;
    /* padding-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px; */
}
.contentHeader {
  border: solid purple;
  /*max-height: :100px;*/
  height: 100px;
}
.contentBody {
  border: solid pink;
  height: 500px;
}

.containerorderinfo {
  width: 100%;
  height: 100%;
}
.titleSubPage {

  width: 100%;
  height: 10%;
}
.contentSub {
  width: 90%;
  height: 85%; 
}
.pagecontainer {
  width: 100%;
  height: 95%;
}
.containerheader {
  height: 5%;  
}

.navItem {
  height: 100%;
  
}
.containerbody {
  width: 100%;
  height: 550px;
}

.panelbody {
  width: 100%;
  height: 95%;
}

#container {
  background: none no-repeat 0 0 scroll #aaa;
  height: 600px;    
  /* width: 1388px; */
  width: 100%;
  
  position: relative;
  /* overflow: hidden;   */
}
#orderinfo {
height: 550px;    
  /* width: 1388px; */
  width: 100%;
}
#logo {
  align-items: center;
  /* margin-top: 20px;
  margin-left: 20px;
  margin-right: 10px;
  margin-bottom: 10px; */
  height: 70px;
  width: 100px;
  background: url("img/logo.png") no-repeat top left;
}
#containerfullview {
	/* display: hidden; */
	background-color: #ffc;
	width: 300px;
	height: 300px;
	background-color: #fff;
	/* overflow: hidden; */
}

#visualisation {
  position: relative;
  
}